*.o
*.BIN
*.bin
*.lua
*.a
*.elf
*.elf.syms
*.dump
.project

**/.o3
bin
CHDK/MODULES

platform/**/sub/**/bin_compat.h
platform/fi2.inc

tools/ghidra_scripts/**

CHDK/DATA/logo.dat
lib/font/font_8x16_uni_packed.h
lib/lang/lang_str.h
modules/exportlist.inc
modules/module_exportlist.h
modules/module_hashlist.c
doc/camnotes.txt
doc/readme.txt

tools/finsig_thumb2
tools/code_gen
tools/dancingbits
tools/elf2flt/elf2flt
tools/elf2flt/fltdump
tools/finsig_dryos
tools/finsig_vxworks
tools/font_8x16_pack
tools/gen_conf_lua
tools/gensig_dryos
tools/gensig_vxworks
tools/makeexport
tools/makelang
tools/packfi2/fi2enc
tools/pakwif
tools/capdis
tools/dumpchk
tools/extract_error_table
tools/find_eventproc
tools/find_levent
tools/rawconvert
tools/yuvconvert
